## For developer only
## Please read use guide in ./docs/dev-on-docker-env-note.pdf
## [usage]
## Run in development env
#     docker-compose up
## To see config after merge please run command:
#     docker-compose config
version: "3.7"
services:
  charts_app:
    working_dir: /var/www/html/charts
    user: "$uid"
    image: charts-php-fpm-dev
    build:
      target: php-fpm-dev
      args:
        USER_ID: ${uid:-1000}
        GROUP_ID: ${gid:-1000}
    # --- THÊM ĐOẠN NÀY ---
    ports:
      - "5173:5173"  # Mở port cho Vite HMR
    # ---------------------
    volumes:
      - .:/var/www/html/charts:delegated
      - .docker/php/conf.d/z-xdebug.dev.ini:/usr/local/etc/php/conf.d/z-xdebug.dev.ini
      - .docker/php/conf.d/z-php.dev.ini:/usr/local/etc/php/conf.d/z-php.dev.ini
    extra_hosts: #uncomment this section if you use linux and want run xdebug
      - host.docker.internal:host-gateway # support on linux host, container communicate with host over domain host.docker.internal (docker engine ver > 20.10)
    environment:
      APPLICATION_ENV: development
      # xdebug
      PHP_IDE_CONFIG: serverName=charts-docker
      # for run phpunit only, see environment var needed in tests/bootstrap.php (search with keyword 'getenv')
      APP_SUBDOMAIN: localhost
      TEST_DB_HOST: charts_db
      TEST_DB_NAME: charts_unittest

  charts_public:
    working_dir: /var/www/html/charts/public
    image: charts-nginx-builder
    build:
      target: nginx-builder
    volumes:
      - ./public:/var/www/html/charts/public
      - ./storage/app/public:/var/www/html/charts/storage/app/public
      - .docker/nginx/conf.d/charts-app.conf:/etc/nginx/conf.d/default.conf
      - .docker/nginx/nginx.conf:/etc/nginx/nginx.conf

  charts_db:
    container_name: charts_db
    image: postgres:16-alpine
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: huypq29102001
      POSTGRES_DB: charts
      PGDATA: /var/lib/postgresql/data/pgdata
      TZ: Asia/Tokyo
    volumes:
      - data-pgsql-charts:/var/lib/postgresql/data/pgdata:delegated

  session_storage:
    container_name: session_storage_charts
    image: redis:6.2.5-alpine3.14
    restart: always

# [ volumes definition ]
# creates Docker volumes which can be mounted by other containers too e.g. for backup
volumes:
  data-pgsql-charts:
    driver: local
